* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.horizontal-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* flex styles */

.flex {
  display: flex;
}

.fl-column {
  flex-direction: column;
}

.fl-gap {
  gap: 1rem;
}

.fl-center {
  align-items: center;
  justify-content: center;
}

/* card styling */

.QR-card {
  width: 300px;
  margin: 5rem auto;
  padding: 1rem;
  padding-bottom: 2.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  text-align: center;
  box-shadow: 5px 10px 50px hsl(214, 25%, 81%);
}

.QR-card img {
  border-radius: 10px;
}

.QR-card section {
  padding: 0.5rem 1.25rem;
}

/* colors */

.dark-blue-text {
  color: hsl(218, 44%, 22%);
}

.grayish-blue-text {
  color: hsl(220, 15%, 55%);
}

/* font weights */

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 400;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
